.mdl-list {
    margin: 0;
    padding: 0;
}

.mdl-list:before {
    top: 0;
}

.mdl-list:after {
    bottom: 0;
}

.mdl-list__item {
    padding: 0;
    margin: 0;
}

.mdl-list__item:before {
    top: 0;
}

.mdl-list__item:after {
    bottom: 0;
}

.full__width {
    width: 100%;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/online_auction_war_exploded/static/style/font.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
